{% verbatim %}
<ion-head-bar class="bar-positive nav-title-slide-ios7">
    <div class="bar bar-header item-input-inset">
        <label class="item-input-wrapper">
            <i class="icon ion-ios-search placeholder-icon"></i>
            <input type="search" placeholder="Search"
                   ng-model="query.text"
                   ng-model-options="{debounce: 500}"
                   ng-change="update_tweet()"/>
        </label>
        <button class="button button-clear" ng-click="query.text=''; update_tweet()">
            Cancel
        </button>
    </div>
    <div class="row">
        <button class="button button-small button-outline button-positive"
                ng-click="remove_hashtag('{{ tag }}')" ng-repeat="tag in query.hashtags">
            {{ tag }}
        </button>
    </div>
</ion-head-bar>
<ion-view view-title="IBM Client Voice">
    <ion-content>
        <ion-list ng-init="update_tweet()">
            <ion-item ng-repeat="tweet in tweets">
                {{ tweet.text }}
                <div class="row">
                    <button class="button button-small button-outline button-positive"
                            ng-repeat="tag in tweet.hashtags" ng-click="add_hashtag('{{ tag }}')">
                        {{ tag }}
                    </button>
                </div>
                <div class="row">
                    <a ui-sref="user-detail({id: user.id})" class="button button-small button-outline button-balanced"
                       ng-repeat="user in tweet.users">
                        {{ user.name }}
                    </a>
                </div>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
{% endverbatim %}